.topnav-right {
  float: right;
  color: red;
  text-align: right;
  margin: 0;
  top: 0;
  right: 60;
  bottom:20;
  left: 'auto';
  position: 'fixed';
}

nav div button:nth-child(1){
  margin-right: 20px
}

nav div button{
  width: 140px
}

.homeButton {
  background-color: #1D1D1B;
  border: none;
}

.homeButton:hover{
  background-color: black;
  border: none;
}
